<p class="notice">
  This page is missing photos or other imagery that would help illustrate the topic. Can you help? <%= link_to "Edit this page on GitHub", "https://github.com/dol-003/dol-003-web/edit/main/app/views/compendium/content/#{@path}" %> (and make sure to <a href="https://discord.gg/HwtPU7tkCT" target="_blank">join us on Discord</a> to discuss!)
</p>

