<p class="notice">
  This page does not currently follow our <a href="/contributing#content-guidelines">content guidelines</a>, and may be incomplete or missing key information. Want to help improve it? <%= link_to "Edit this page on GitHub", "https://github.com/dol-003/dol-003-web/edit/main/app/views/compendium/content/#{@path}" %> (and make sure to <a href="https://discord.gg/HwtPU7tkCT" target="_blank">join us on Discord</a> to discuss!)
</p>

