@import "@/breakpoints";
@import "@/colors";
@import "@/dark";

body.application.index {
  main {
    padding-top: 0;
  }

  .grid {
    grid-row-gap: 64px;
  }

  header > .content > .logo {
    color: var(--color-indigo);
    box-shadow: inset 0 0 0 3px var(--color-indigo);

    @include dark {
      color: var(--color-spice);
      box-shadow: inset 0 0 0 3px var(--color-spice);
    }
  }

  .intro {
    background-position: center center;
    background-size: cover;
    padding: 220px 0 48px;
    margin: -80px 0 64px;

    @include small {
      padding-top: 140px;
    }

    h1 {
      line-height: 1.3;
    }

    strong {
      background-color: rgba($smoke, 75%);
      padding: 0 8px;
      margin: 0 -8px;

      @include dark {
        background-color: rgba($crystal, 75%);
      }
    }

    &:not(.dark) {
      @include dark {
        display: none;
      }
    }

    &.dark {
      display: none;

      @include dark {
        display: block;
      }
    }
  }

  .service-list {
    list-style: none;
    margin: 24px 0 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    gap: 12px;

    @include small {
      gap: 8px;
    }

    li {
      margin: 0;
      padding: 0;
    }
  }

  .location-search {
    margin-top: 16px;
    display: flex;
    gap: 16px;

    .react-container {
      flex: auto;

      .LocationSelector {
        flex-flow: column nowrap;
        grid-gap: 16px;
        align-items: flex-start;

        .Geolocator {
          margin: 0 0 0 2px;
        }
      }

      .text-input {
        width: 100%;
      }
    }

    .button {
      flex: none;
    }
  }

  .location-geolocator {
    margin-top: 16px;
    padding-left: 2px;
  }

  .featured-modders {
    margin-top: 16px;
    display: flex;
    gap: 40px;

    @include small {
      flex-flow: column nowrap;
    }

    > div {
      flex: 1 0 0;
      display: flex;
      flex-flow: column nowrap;

      .featured-photo {
        height: 280px;
        margin: 0;
        background-size: cover;
        background-position: center;
      }

      h3 {
        text-transform: none;
        margin-top: 16px;

        > a {
          display: inline-flex;
          gap: 16px;
          align-items: center;

          .logo {
            flex: none;
            margin: 0;
            width: 48px;
            height: 48px;
            background-color: $platinum;
            border-radius: 48px;
            margin-left: -1px;
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color: darken($platinum, 20%);

            svg {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }
}

body.application.about,
body.application.terms,
body.application.privacy_policy,
body.application.rules {
  h1 {
    margin-top: 80px;
  }
}
