@import "@/breakpoints";
@import "@/header";
@import "@/footer";

body.layout-default {
  display: flex;
  flex-flow: column;
  justify-content: stretch;

  > header {
    height: 80px;
    position: relative;
    z-index: 100;
  }

  > main {
    flex: auto;
    padding: 64px 0 96px;

    @include small {
      padding: 32px 0 64px;
    }
  }

  .content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    @include large {
      max-width: 94vw;
    }

    @include medium {
      max-width: 92vw;
    }

    @include small {
      max-width: 90vw;
    }

    &.grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 40px;
      grid-row-gap: 64px;
      align-items: start;

      @include medium {
        grid-template-columns: 1fr;
      }

      @include small {
        grid-row-gap: 32px;
      }

      > * {
        min-width: 0;
      }

      > .span-1 {
        grid-column: span 1;
      }

      > .span-2 {
        grid-column: span 2;
      }

      > .span-3 {
        grid-column: span 3;
      }

      > .span-4 {
        grid-column: span 4;
      }

      > .span-5 {
        grid-column: span 5;
      }

      > .span-6 {
        grid-column: span 6;
      }

      > .span-7 {
        grid-column: span 7;
      }

      > .span-8 {
        grid-column: span 8;
      }

      > .span-9 {
        grid-column: span 9;
      }

      > .span-10 {
        grid-column: span 10;
      }

      > .span-11 {
        grid-column: span 11;
      }

      > .span-12 {
        grid-column: span 12;
      }

      @include medium {
        > .span-1,
        > .span-2,
        > .span-3,
        > .span-4,
        > .span-5,
        > .span-6,
        > .span-7,
        > .span-8,
        > .span-9,
        > .span-10,
        > .span-11,
        > .span-12 {
          grid-column: 1 / span 1;
        }
      }
    }
  }
}
