@import "../header";
@import "../footer";

body.layout-default {
  display: flex;
  flex-flow: column;
  justify-content: stretch;

  > header {
    height: 80px;
    position: relative;
    z-index: 100;
  }

  > main {
    flex: auto;
    padding-bottom: 96px;
  }

  .flash {

    > p {
      padding: 16px 24px;
      border: 2px solid $platinum;
      border-radius: 16px;

      &.notice {
        background-color: hsl(hue($emerald), saturation($emerald), 80%);
        border-color: hsl(hue($emerald), saturation($emerald), 70%);
        color: hsl(hue($emerald), saturation($emerald), 20%);
      }

      &.error {
        background-color: lighten($mario, 10%);
        border-color: darken($mario, 20%);
      }

      & + p {
        margin-top: 8px;
      }

      &:last-child {
        margin-bottom: 64px;
      }
    }
  }

  .content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 1280px) {
      max-width: 94vw;
    }

    &.grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 40px;
      grid-row-gap: 64px;

      > .span-1 {
        grid-column: span 1;
      }

      > .span-2 {
        grid-column: span 2;
      }

      > .span-3 {
        grid-column: span 3;
      }

      > .span-4 {
        grid-column: span 4;
      }

      > .span-5 {
        grid-column: span 5;
      }

      > .span-6 {
        grid-column: span 6;
      }

      > .span-7 {
        grid-column: span 7;
      }

      > .span-8 {
        grid-column: span 8;
      }

      > .span-9 {
        grid-column: span 9;
      }

      > .span-10 {
        grid-column: span 10;
      }

      > .span-11 {
        grid-column: span 11;
      }

      > .span-12 {
        grid-column: span 12;
      }
    }
  }
}
