@import "@/colors";

body.profiles.edit,
body.profiles.update {
  .form {
    > .content {
      margin-top: 48px;
      grid-row-gap: 32px;

      .caption {
        padding-top: 15px;

        p {
          margin-top: 0;
        }
      }

      .input-container {
        padding-left: 48px;
      }
    }
  }
}
