@import "@/breakpoints";
@import "@/colors";

body.profiles.edit,
body.profiles.update,
body.profiles.create {
  .form {
    > .content {
      margin-top: 48px;
      grid-row-gap: 32px;

      .caption {
        padding-top: 15px;

        p {
          margin-top: 0;

          &:not(.label) + p {
            margin-top: 12px;
          }
        }

        .field_with_errors {
          display: inline-block;
        }
      }

      .input-container {
        padding-left: 48px;

        @include small {
          padding-left: 0;
        }
      }
    }
  }
}
