body.profiles.edit {

  .form {

    > .content {
      margin-top: 48px;
      grid-row-gap: 32px;

      .caption {
        padding-top: 15px;
      }

      .input-container {
        padding-left: 48px;
      }
    }
  }
}
