body.registrations {

  main {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding-top: 64px;

    .flash.content.grid {
      display: none;
    }
  }
}
