@import "@/breakpoints";
@import "@/colors";

body.registrations.new,
body.registrations.create {
  main {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  .notice {
    padding: 24px 28px 28px;
    margin: -24px -28px 32px;
    background-color: lighten($spice, 30%);
    border-radius: 24px;
    box-shadow: inset 0 0 0 2px $spice;

    @include small {
      border-radius: 0;
      margin-top: 0;
    }
  }

  .agreement {
    width: 360px;
    margin-top: 32px;
  }
}

body.registrations.edit,
body.registrations.update,
body.registrations.destroy {
  .form {
    > .content {
      margin-top: 48px;
      grid-row-gap: 48px;

      .caption {
        padding-top: 15px;

        p {
          margin-top: 0;
        }
      }

      .input-container {
        padding-left: 48px;

        @include small {
          padding-left: 0;
        }
      }
    }
  }

  .close-account {
    margin-top: 64px;
  }
}
