@import "../colors";

body.sessions {

  main {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  passage-auth {
    width: 480px;
    display: block;
    padding: 0;

    --passage-container-background: transparent;
    --passage-container-max-width: 320px;
    --passage-container-margin: auto;
    --passage-container-padding: 32px;
    --passage-error-color: #ff0000; // todo

    --passage-body-font-family: source-code-pro, monospace;
    --passage-body-font-size: 16px;
    --passage-body-font-weight: 400;
    --passage-body-text-color: $black;

    --passage-header-font-family: source-code-pro, monospace;
    --passage-header-font-size: 24px;
    --passage-header-font-weight: bold;
    --passage-header-text-color: $black;

    &::part(input) {
      border: 2px solid $indigo;
      transition: none;
      border-radius: 8px;
      height: 48px;
      padding: 0 12px 1px;
      margin-bottom: 4px;

      &:hover {
        border-color: lighten($indigo, 20%);
      }

      &:focus {
        border-color: $spice;
      }
    }

    &::part(button) {
      background-color: $indigo;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      height: 48px;
      line-height: 1;
      padding: 0 24px;
      transition: none;

      &:hover {
        background-color: lighten($indigo, 10%);
      }

      &:active {
        background-color: darken($indigo, 10%);
      }
    }
  }
}
