@import "@/colors";

.checkbox {
  display: flex;
  align-items: center;
  position: relative;

  input[type="checkbox"] {
    appearance: none;
    width: 23px;
    height: 23px;
    border: 2px solid var(--color-platinum);
    border-radius: 4px;
    background-color: var(--color-white);
    margin-right: 12px;
    cursor: pointer;

    &:checked {
      border-color: var(--color-spice);
      background-color: var(--color-spice);
    }
  }

  svg {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    color: var(--color-white);
    pointer-events: none;
  }

  label {
    cursor: pointer;
    margin-top: 2px;
  }
}
