@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-32px) scale(0.95);
  }

  4% {
    opacity: 1;
    transform: none;
  }

  97% {
    opacity: 1;
    transform: none;
  }

  99% {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 0;
    transform: scale(0.95);
    visibility: hidden;
  }
}

.flash {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 90vw;
  max-width: 640px;
  z-index: 100000;

  > input {
    display: none;

    &:checked + div {
      display: none;
    }
  }

  > div {
    padding: 16px 64px 18px 24px;
    border: 2px solid $platinum;
    border-radius: 16px;
    box-shadow: 0 12px 12px -16px $black;
    opacity: 0;
    animation: fadein 10s ease-out 0.4s forwards;

    &.notice {
      background-color: hsl(hue($emerald), saturation($emerald), 80%);
      border-color: hsl(hue($emerald), saturation($emerald), 60%);
      color: hsl(hue($emerald), saturation($emerald), 20%);

      label {
        color: $emerald;

        &:hover {
          color: darken($emerald, 10%);
        }
      }
    }

    &.error,
    &.alert {
      background-color: hsl(hue($mario), saturation($mario), 90%);
      border-color: hsl(hue($mario), saturation($mario), 70%);
      color: hsl(hue($mario), saturation($mario), 20%);

      label {
        color: hsl(hue($mario), saturation($mario), 70%);

        &:hover {
          color: hsl(hue($mario), saturation($mario), 50%);
        }
      }
    }

    > label {
      position: absolute;
      display: block;
      top: 14px;
      right: 16px;
      cursor: pointer;
      padding: 4px;
      color: rgba($black, 20%);

      svg {
        width: 16px;
        height: 16px;
      }

      &:hover {
        color: rgba($black, 40%);
      }
    }

    & + p {
      margin-top: 8px;
    }
  }
}
