@import "@/breakpoints";
@import "@/colors";

body {
  --footer-background-color: var(--color-black);

  &.supports-dark-mode {
    @media (prefers-color-scheme: dark) {
      --footer-background-color: var(--color-ink);
    }
  }
}

footer {
  background-color: var(--footer-background-color);
  color: $platinum;
  padding: 64px 0 72px;

  a {
    color: $spice;
  }

  .sign-in-link {
    display: flex;
    justify-content: flex-end;

    @include small {
      justify-content: center;
    }

    .button {
      margin-right: -2px;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
