@import "@/breakpoints";
@import "@/colors";
@import "@/dark";

body > footer {
  background-color: var(--color-black);
  color: $platinum;
  padding: 64px 0 72px;

  @include dark {
    background-color: var(--color-ink);
  }

  a {
    color: $spice;
  }

  .sign-in-link {
    display: flex;
    justify-content: flex-end;

    @include small {
      justify-content: center;
    }

    .button {
      margin-right: -2px;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
