.form {

  .field {

    .label {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;

      & + .text-input {
        margin-top: 4px;
      }
    }

    & + .field {
      margin-top: 16px;
    }

    & + .actions {
      margin-top: 32px;
    }
  }

  .actions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    > * + * {
      margin-left: 24px;
    }
  }
}
