@import "@/colors";
@import "@/dark";

header {
  > .content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 80px;

    > .logo {
      flex: none;
      margin: 0 0 0 -1px;
      font-size: 20px;
      line-height: 1;
      font-weight: bold;
      padding: 3px 10px 2px;
      border-radius: 100px;
      box-shadow: inset 0 0 0 3px $spice;
      color: $spice;
    }

    #menu-toggle-button {
      color: $indigo;
      margin: 0 0 0 auto;
      padding: 4px;
      width: 32px;
      height: 32px;
      cursor: pointer;
      display: none;

      @include dark {
        color: var(--color-spice);
      }

      &:hover {
        color: lighten($indigo, 15%);
      }

      @include medium {
        display: flex;
      }
    }

    #menu-toggle {
      display: none;
    }

    .menu {
      margin: 0 0 0 auto;
      list-style: none;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      padding: 0;

      @include medium {
        position: fixed;
        margin: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $indigo;
        flex-flow: column nowrap;
        justify-content: center;
        visibility: hidden;
        z-index: 10000;
      }

      > li {
        margin: 0;
        position: relative;

        @include medium {
          text-align: center;
        }

        &.close {
          position: absolute;
          top: 32px;
          right: 32px;
          display: none;
          margin: 0;

          @include medium {
            display: block;
          }

          label {
            border: 0;
            color: $white;
            padding: 4px;
            width: 32px;
            height: 32px;
            display: flex;
            cursor: pointer;

            &:hover {
              color: $spice;
            }
          }
        }

        > a {
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 1px;
          font-weight: bold;
          white-space: nowrap;

          @include medium {
            font-size: 32px;
            color: $white;

            &:hover {
              color: $spice;
            }
          }
        }

        + li {
          margin-left: 32px;

          @include medium {
            margin-left: 0;
            margin-top: 16px;
          }
        }
      }
    }

    #menu-toggle:checked ~ .menu {
      visibility: visible;
    }

    .user-menu {
      width: 48px;
      height: 48px;
      margin-left: 32px;
      position: relative;

      @include medium {
        margin-left: 16px;
      }

      input[type="checkbox"] {
        display: none;

        &:checked ~ .overlay,
        &:checked ~ .overlay-trim {
          visibility: visible;
          opacity: 1;
          transform: none;
          transition:
            transform 0.2s ease-out,
            opacity 0.2s ease-out;
        }

        &:checked ~ label > figure {
          opacity: 1;
        }
      }

      .overlay-trim {
        position: absolute;
        visibility: hidden;
        top: -12px;
        left: -12px;
        right: -12px;
        bottom: -8px;
        background-color: var(--color-white);
        border-radius: 100px 100px 0 0;
        border: 2px solid var(--color-spice);
        border-bottom: 0;
        pointer-events: none;
        z-index: 100;
        transform-origin: 36px 36px;
        transform: rotate(10deg);
        opacity: 0;
        transition:
          transform 0.1s ease-out,
          opacity 0.1s ease-out,
          visibility 0s linear 0.1s;

        @include dark {
          background-color: var(--color-smoke);
          border-color: var(--color-panasonic);
        }
      }

      .avatar {
        margin: 0 -2px 0 0;
        width: 48px;
        height: 48px;
        border-radius: 48px;
        background-color: var(--color-platinum);
        cursor: pointer;
        opacity: 0.9;
        position: relative;
        z-index: 105;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: darken($platinum, 20%);

        svg {
          width: 24px;
          height: 24px;
        }

        &:hover {
          opacity: 1;
        }
      }

      .overlay {
        position: absolute;
        right: -12px;
        top: calc(100% + 8px);
        background-color: var(--color-white);
        box-shadow:
          0 12px 12px -16px var(--color-black),
          0 16px 32px -48px var(--color-black),
          inset 0 0 0 2px var(--color-spice);
        list-style: none;
        margin: 0;
        padding: 20px 60px 24px 28px;
        visibility: hidden;
        border-radius: 32px 0 32px 32px;
        transform-origin: calc(100% - 32px) -32px;
        transform: rotate(10deg);
        opacity: 0;
        transition:
          transform 0.1s ease-out,
          opacity 0.1s ease-out,
          visibility 0s linear 0.1s;

        @include dark {
          background-color: var(--color-smoke);
          box-shadow:
            0 12px 12px -16px var(--color-ink),
            0 16px 32px -48px var(--color-ink),
            inset 0 0 0 2px var(--color-panasonic);
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 2px;
          height: 2px;
          width: 68px;
          background-color: var(--color-white);

          @include dark {
            background-color: var(--color-smoke);
          }
        }

        > li {
          margin: 0;
          padding: 0;

          &.name {
            margin-bottom: 12px;
            white-space: nowrap;

            a {
              color: var(--color-black);
              font-weight: bold;

              @include dark {
                color: var(--color-crystal);
              }
            }
          }

          a {
            display: inline-block;
            white-space: nowrap;
            padding: 4px;
            line-height: 1;
            font-weight: 500;
          }

          & + li {
            margin-top: 4px;
          }
        }
      }
    }
  }
}
