@import "@/breakpoints";

.service-pill {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 16px;
  height: 32px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1;
  box-shadow: inset 0 0 0 2px var(--service-color, $platinum);
  color: var(--service-color, $platinum);
  border-radius: 32px;

  &.solid {
    background-color: var(--service-color, $black);
    color: $white;
  }

  @include small {
    padding: 0 10px;
    height: 24px;
    letter-spacing: 0;
  }

  &.interactive:hover {
    color: var(--service-color, $platinum);
    background-color: #fff;
    box-shadow: inset 0 0 0 2px var(--service-color, $platinum),
      0 8px 8px -12px $black;

    &.solid {
      background-color: var(--service-color, $black);
      color: $white;
    }
  }
}
