@import "@/breakpoints";
@import "@/colors";
@import "@/dark";

.text-input {
  appearance: none;
  border: 0;
  box-shadow: inset 0 0 0 2px $platinum;
  height: 48px;
  padding: 0 16px 1px;
  border-radius: 8px;
  outline: 0;
  display: block;
  background-color: var(--color-white);
  max-width: 100%;

  @include dark {
    background-color: var(--color-smoke);
    box-shadow: inset 0 0 0 2px var(--color-panasonic);
    color: var(--color-crystal);
  }

  &.search {
    border-radius: 48px;
    padding: 0 24px 1px;
  }

  &.medium {
    width: 240px;
  }

  &.large {
    width: 360px;

    @include small {
      width: 100%;
    }
  }

  &.xlarge {
    width: 480px;

    @include small {
      width: 100%;
    }
  }

  &.full-width {
    width: 100%;
  }

  &:hover:not(:disabled) {
    box-shadow: inset 0 0 0 2px darken($platinum, 20%), 0 8px 8px -12px $black;

    @include dark {
      box-shadow: inset 0 0 0 2px var(--color-platinum),
        0 8px 8px -12px var(--color-ink);
    }
  }

  &:focus {
    box-shadow: inset 0 0 0 2px $spice, inset 0 2px 10px -6px $black !important;

    @include dark {
      background-color: var(--color-black);
      box-shadow: inset 0 0 0 2px var(--color-spice),
        inset 0 2px 10px -6px var(--color-ink) !important;
    }
  }

  &:disabled {
    background-color: lighten($platinum, 20%);
    box-shadow: inset 0 0 0 2px $platinum;
    color: $panasonic;
    cursor: not-allowed;

    @include dark {
      background-color: var(--color-panasonic);
      color: var(--color-platinum);
    }
  }

  &::placeholder {
    color: $platinum;

    @include dark {
      color: $panasonic;
    }
  }
}
