@import "@/breakpoints";
@import "@/dark";

body {
  font-family: source-code-pro, monospace;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--color-black);

  @include dark {
    color: var(--color-crystal);
  }
}

a,
.link {
  text-decoration: none;
  color: var(--color-indigo);
  font-weight: bold;
  cursor: pointer;

  @include dark {
    color: var(--color-spice);
  }

  &:hover {
    color: var(--color-indigo-light);

    @include dark {
      color: var(--color-spice-light);
    }
  }

  &.big {
    font-size: 18px;
  }
}

button.link {
  appearance: none;
  background: none;
  border: 0;
}

h1,
h2,
h3,
p,
ol,
ul,
aside,
form {
  margin: 0;
  word-wrap: break-word;

  & + h1,
  & + h2,
  & + h3,
  & + .form {
    margin-top: 1.5em;
  }

  & + p,
  & + ol,
  & + ul {
    margin-top: 1em;
  }
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 36px;

  @include small {
    font-size: 24px;
  }
}

h2 {
  font-size: 24px;

  @include small {
    font-size: 20px;
  }
}

h3 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;

  @include small {
    font-size: 18px;
  }
}

p {
  line-height: 1.5;

  &.big {
    font-size: 18px;
    font-weight: 500;
  }

  &.small {
    font-size: 14px;
  }

  &.actions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    > .button:first-child {
      margin-left: -2px;
    }

    > * + * {
      margin-left: 24px;
    }
  }
}

ul,
ol {
  li {
    line-height: 1.5;

    & + li {
      margin-top: 0.2em;
    }
  }
}

strong {
  color: var(--color-spice);

  @include dark {
    color: var(--color-indigo-light);
  }
}
