body {
  font-family: source-code-pro, monospace;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: $black;
}

a {
  text-decoration: none;
  color: $indigo;
  font-weight: bold;

  &:hover {
    color: lighten($indigo, 15%);
  }
}

h1, h2, h3, p, ol, ul {
  margin: 0;

  & + h1,
  & + h2,
  & + h3,
  & + .form {
    margin-top: 1.5em;
  }

  & + p,
  & + ol,
  & + ul {
    margin-top: 1em;
  }
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p {
  line-height: 1.5;

  &.big {
    font-size: 18px;
    font-weight: 500;
  }

  &.actions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    > .button:first-child {
      margin-left: -2px;
    }

    > * + * {
      margin-left: 24px;
    }
  }
}

strong {
  color: $spice;
}
