<div class="content grid">
  <div class="sidebar span-4">
    <h3>Knowledge Base</h3>
  </div>
  <div class="page span-8">
    <h1><%= @title %></h1>
    <% if @description.present? %>
      <p class="big"><%= @description %></p>
    <% end %>
    <%= @content %>
  </div>
</div>
