<p>You’ve been invited to join DOL-003.info, a directory of GameCube controller modders.</p>

<p>This is your unique invitation link. Click to sign up and set up your modder profile.</p>

<p><%= link_to 'Sign up now →', new_user_registration_url(invitation_token: @invitation_token), class: 'button' %></p>
