body.layout-default {

  > header {
    height: 80px;
  }

  > footer {
    background-color: $black;
    color: $platinum;
  }

  .content {
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 1280px) {
      max-width: 94vw;
    }

    &.grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 40px;
    }
  }
}
