<div class="content grid">
  <section class="span-8">

    <h2>Password reset</h2>
    <p>Enter your email address to reset your password.</p>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form' }) do |form| %>

      <%= render 'form_field', locals: {
        resource: resource,
        form: form,
        field_name: :email,
        field_type: :email_field,
        label: 'Email address',
        options: { autofocus: true, autocomplete: 'email', class: 'text-input large' }
      } %>

      <div class="actions">
        <%= form.submit 'Reset password', class: 'button' %>
      </div>

    <% end %>

  </section>
</div>
