@import "@/breakpoints";
@import "@/colors";

.LocationSelector {
  display: flex;
  gap: 24px;
  align-items: center;

  @include small {
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 12px;

    .Geolocator {
      margin-left: 2px;
    }
  }

  .geolocation-indicator {
    position: relative;

    input {
      padding-left: 48px;
    }

    .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $platinum;
    }

    .check-icon {
      position: absolute;
      width: 16px;
      height: 16px;
      top: 15px;
      left: 20px;
      color: $panasonic;
    }

    > button {
      appearance: none;
      background: none;
      border: 0;
      padding: 4px;
      position: absolute;
      top: 11px;
      right: 16px;
      cursor: pointer;
      color: $platinum;
      display: flex;

      &:hover {
        color: $panasonic;
      }

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}
