@import "@/colors";
@import "@/dark";
@import "@/breakpoints";

.QuickSearch {
  position: absolute !important;
  top: 16px;
  left: calc(50% - 120px);

  @include medium {
    left: calc(50% - 24px);
  }

  &.open {
    left: calc(50% - 240px);
    z-index: 10000;

    @include medium {
      left: calc(50% - 160px);
    }

    .quick-search__control {
      width: 480px;
      border-radius: 8px 8px 0 0;

      @include medium {
        width: 320px;
        padding: 0 24px 1px 46px;
        font-size: inherit;
      }
    }

    &::after {
      display: none;
    }
  }

  &::after {
    content: "/";
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 4px 8px;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px $platinum;
    z-index: 100;
    pointer-events: none;
    color: $platinum;

    @include dark {
      color: $panasonic;
      box-shadow: inset 0 0 0 1px $panasonic;
    }

    @include medium {
      display: none;
    }
  }

  .quick-search__control {
    transition: none;
    width: 240px;
    height: 48px;
    padding: 0 24px 1px 46px;
    border-radius: 48px;
    cursor: text;
    background-color: $crystal;

    @include medium {
      width: 48px;
      padding: 0;
      font-size: 0;
    }

    @include dark {
      background-color: $smoke;
    }

    > svg {
      position: absolute;
      top: 14px;
      left: 14px;
      width: 20px;
      height: 20px;
      color: $platinum;
      pointer-events: none;

      @include dark {
        color: $panasonic;
      }
    }

    .quick-search__indicators {
      display: none;
    }

    .quick-search__placeholder {
      color: $panasonic;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      box-shadow:
        inset 0 0 0 2px darken($platinum, 20%),
        0 8px 8px -12px $black;

      @include dark {
        box-shadow:
          inset 0 0 0 2px $platinum,
          0 8px 8px -12px $ink;
      }
    }

    &--is-focused {
      background-color: $white;
      box-shadow:
        inset 0 0 0 2px $spice,
        inset 0 2px 10px -6px $black !important;

      @include dark {
        background-color: $black;
        box-shadow:
          inset 0 0 0 2px $spice,
          inset 0 2 10px -6px $ink !important;
      }

      > svg {
        color: $panasonic;

        @include dark {
          color: $platinum;
        }
      }
    }

    &--menu-is-open {
      border-radius: 24px 24px 0 0;
    }
  }

  .quick-search__menu {
    background-color: $white;
    border: 2px solid $spice;
    border-top: 0;
    border-radius: 0 0 8px 8px;
    box-shadow:
      0 12px 12px -16px var(--color-black),
      0 16px 32px -48px var(--color-black);

    @include dark {
      background-color: $black;
      box-shadow:
        0 12px 12px -16px var(--color-ink),
        0 16px 32px -48px var(--color-ink);
    }

    .quick-search__menu-notice--no-options {
      padding: 12px 0;
      color: $platinum;

      @include dark {
        color: $panasonic;
      }
    }
  }

  .quick-search__menu-list {
    padding: 8px 0;
  }

  .quick-search__option {
    display: flex;
    padding: 8px 12px;
    align-items: center;
    cursor: pointer;
    height: 80px;

    &:hover,
    &--is-focused {
      background-color: $crystal;

      @include dark {
        background-color: $smoke;
      }
    }

    > figure {
      flex: none;
      margin: 0;
      width: 56px;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $panasonic;

      svg {
        width: 32px;
        height: 32px;
        position: relative;
        top: -1px;
      }

      &.logo {
        background-color: $platinum;
        border-radius: 32px;
        background-size: cover;
        background-position: center;
        color: darken($platinum, 20%);
      }
    }

    > div {
      flex: auto;
      min-width: 0;
      margin-left: 12px;
      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;

      > h3,
      > p {
        display: block;
        width: 100%;
        text-transform: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0;
      }

      .city svg {
        width: 16px;
        height: 16px;
        margin-right: 8px;
        vertical-align: middle;
        position: relative;
        top: -2px;
      }
    }
  }
}

.quicksearch-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: $smoke;
  opacity: 0.1;
  visibility: hidden;

  @include dark {
    background-color: $crystal;
  }

  &.open {
    visibility: visible;
  }
}
