@import "@/breakpoints";
@import "@/colors";
@import "@/service-pill";

.ServiceSelector {
  .service-selector__control {
    min-height: 64px;
    box-shadow: inset 0 0 0 2px $platinum;
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    transition: none;

    &:hover {
      box-shadow: inset 0 0 0 2px darken($platinum, 20%), 0 8px 8px -12px $black;
    }

    &:focus,
    &--is-focused,
    &--is-focused:hover {
      box-shadow: inset 0 0 0 2px $spice, inset 0 2px 10px -6px $black;
    }

    &--menu-is-open {
      border-radius: 8px 8px 0 0;
    }

    .service-selector__placeholder {
      color: $platinum;
    }

    .service-selector__value-container {
      gap: 8px;
    }

    .service-selector__multi-value {
      @extend .service-pill;
      padding: 0 20px 0 16px;
      cursor: grab;

      @include small {
        padding: 0 10px;
      }

      &:hover {
        color: var(--service-color, $platinum);
        background-color: #fff;
        box-shadow: inset 0 0 0 2px var(--service-color, $platinum),
          0 8px 8px -12px $black !important;

        &.solid {
          color: $white;
          background-color: var(--service-color, $platinum);
        }
      }

      .service-selector__multi-value__remove {
        position: relative;
        top: -1px;
        left: 8px;
        color: $platinum;
        cursor: pointer;

        @include small {
          left: 4px;
        }

        svg {
          width: 15px;
          height: 15px;
        }

        &:hover {
          color: darken($platinum, 20%);
        }
      }
    }

    .service-selector__indicators {
      color: $platinum;
      margin-left: 16px;

      .service-selector__indicator {
        &:hover {
          color: darken($platinum, 20%);
        }
      }
    }

    &:hover .service-selector__indicator:last-child {
      color: darken($platinum, 20%);
    }
  }

  .service-selector__menu {
    padding: 16px;
    border-radius: 0 0 8px 8px;
    box-shadow: inset 0 0 0 2px $spice;
    margin-top: -2px;
    background-color: #fff;

    .service-selector__menu-list {
      display: flex;
      flex-flow: row wrap;
      gap: 8px;
    }

    .service-selector__option {
      @extend .service-pill;
      width: auto;
      cursor: pointer;

      &:hover {
        color: var(--service-color, $platinum);
        background-color: #fff;
        box-shadow: inset 0 0 0 2px var(--service-color, $platinum),
          0 8px 8px -12px $black !important;

        &.solid {
          color: $white;
          background-color: var(--service-color, $platinum);
        }
      }
    }
  }
}

.service-selector__multi-value {
  @extend .service-pill;
  padding: 0 20px 0 16px;

  @include small {
    padding: 0 14px 0 10px;
  }

  .service-selector__multi-value__remove {
    position: relative;
    top: -1px;
    left: 8px;
    color: $platinum;
    cursor: pointer;

    svg {
      width: 15px;
      height: 15px;
    }
  }
}
