<p>Thanks for registering as a modder on <%= link_to 'DOL-003.info', root_url %>!</p>

<p>Click the button to confirm your account and start setting up your profile!</p>

<p><%= link_to 'Confirm account', confirmation_url(@resource, confirmation_token: @token), class: 'button' %></p>
