<% if @resource.try(:unconfirmed_email?) %>
  <p>This is a notice that the email address on your DOL-003.info account is being changed to <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>This is a notice that the email address on your DOL-003.info account has been changed to <%= @resource.email %>.</p>
<% end %>

<p>If this was not done at your request, please contact us immediately.</p>

<p>— The DOL-003.info team</p>
