<p>A requested has been made to change your password on DOL-003.info. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class: 'button' %></p>

<p>If you did not make this request, ignore this email.</p>
<p>Your password will not change until you access the link above and create a new one.</p>

<p>— The DOL-003.info team</p>
