  <section class="span-8 get-listed">
    <h2>Are you a modder or artist? <strong>Get listed.</strong></h2>
    <p>Players are always looking for great controllers. Create an account and get found by people looking for your skills.</p>
    <p class="actions"><%= link_to 'Get started →', new_user_registration_path, class: 'button secondary' %> <%= link_to 'Sign in', new_user_session_path %></p>
  </section>
