<header>
  <div class="content">
    <a href="/" class="logo">DOL-003</a>
    <ul class="menu">
      <li><a href="#">Find a modder</a></li>
      <% if user_signed_in? %>
        <li>
          <figure class="avatar"></figure>
        </li>
      <% else %>
        <li><%= link_to 'Get listed', new_registration_path %></li>
      <% end %>
    </ul>
  </div>
</header>
