<header>
  <div class="content">
    <figure class="logo">DOL-003</figure>
    <ul class="menu">
      <li><a href="#">About</a></li>
      <li><a href="#">Find a modder</a></li>
      <li><a href="#">Get listed</a></li>
    </ul>
  </div>
</header>
