<header>
  <div class="content">
    <a href="/" class="logo">DOL-003</a>
    <ul class="menu">
      <li><a href="#">About</a></li>
      <li><a href="#">Find a modder</a></li>
      <li><a href="#">Get listed</a></li>
      <li>
        <figure class="avatar"></figure>
      </li>
    </ul>
  </div>
</header>
