<div class="content grid">

  <section class="span-6">
    <h2>Search by <strong>location</strong></h2>
    <p>Current user id: <%= @user_id %></p>
  </section>

  <section class="span-5">
    <h2>Search by <strong>services</strong></h2>
    <p>blah</p>
  </section>

  <section class="span-12">
    <h2>Featured modders</h2>
    <p>blah</p>
  </section>

  <section class="span-8">
    <h2>Are you a modder? <strong>Get listed.</strong></h2>
    <p>blah</p>
  </section>

</div>
