<div class="content grid">
  <div class="span-8">

    <h1>Modder vetting</h1>

    <p class="big">Some modder profiles on DOL-003 may show a “vetted” badge. Here’s what that means.</p>

    <p>Vetting is a way to indicate that the DOL-003 team, whether firsthand or through a trusted source, has verified that a modder is known to:</p>

    <ul>
      <li>deliver quality work,</li>
      <li>offer great customer service, and</li>
      <li>have a broadly positive reputation in the CGCC community.</li>
    </ul>

    <p>This does not constitute a recommendation on the part of the DOL-003 team, and does not imply any kind of guarantee if you decide to work with the modder in question. Conversely, the lack of a vetted badge does not imply that a modder is untrustworthy or not recommended, only that the DOL-003 team has not been able to verify the quality of their offerings.</p>

    <p>While informal and not authoritative, we believe vetting can be a way to incentivize quality work, great customer service, and relationship-building between CGCC modders and artists.</p>

    <p><a href="https://discord.gg/HwtPU7tkCT" target="_blank">Join us on Discord</a> if you have any questions or concerns about vetting. Requests for vetting are considered on a case-by-case basis.</p>

  </div>
</div>
